# Random Forest Algorithm

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix,r2_score,mean_squared_error,mean_absolute_error,accuracy_score

In [7]:
#load the data
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
#encode fearture which are categorical or object using for loop
le=LabelEncoder()
for col in df.columns:
    if df[col].dtype=='object' or df[col].dtype=='category':
        df[col]=le.fit_transform(df[col])
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [9]:
#split vvthe data into x and y
X=df.drop('sex', axis=1)
y=df['sex']

In [15]:
#train test split the data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#creat ethe model
model=RandomForestClassifier(n_estimators=100)
#fit and train  the model
model.fit(X_train,y_train)
#predict the model
y_pred=model.predict(X_test)

#evaluatre the model
print('Accuracy_score: ',accuracy_score(y_pred,y_test))
print('confusion_matrix\n',confusion_matrix(y_pred,y_test))
print('classification_report\n',classification_report(y_pred,y_test))

Accuracy_score:  0.6326530612244898
confusion_matrix
 [[ 7  6]
 [12 24]]
classification_report
               precision    recall  f1-score   support

           0       0.37      0.54      0.44        13
           1       0.80      0.67      0.73        36

    accuracy                           0.63        49
   macro avg       0.58      0.60      0.58        49
weighted avg       0.69      0.63      0.65        49

# Random forest for Reggression

In [17]:
#split the data into x and y
X=df.drop('tip', axis=1)
y=df['tip']

#train test split the  model
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#creat the model
model=RandomForestRegressor(n_estimators=)
#fit and train the model
model.fit(X_train,y_train)

#predict the model
y_pred=model.predict(X_test)

#evaluate the models
print('r2_score:',r2_score(y_pred,y_test))
print('mean_squared_error:',mean_squared_error(y_pred,y_test))
print('mean_absolute_error:',mean_absolute_error(y_pred,y_test))
print('Root_mean_squared_error:',np.sqrt(mean_squared_error(y_pred,y_test)))

r2_score: 0.29845444504042207
mean_squared_error: 0.9785451771428584
mean_absolute_error: 0.7901836734693879
Root_mean_squared_error: 0.9892144242492921